@model IEnumerable<Building_VehiclePark.Models.Vehicle>

@{
    ViewBag.Title = "AllVihecles";
}

<h2>AllVihecles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InGarage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InRepair)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWork)
        </th>
        <th></th>
    </tr>

@{
    if(Model != null)
    {
        int index = 0;
        foreach (var item in Model)
        {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InGarage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InRepair)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWork)
        </td>
        <td>
            @{string edit = "Autorize", del = "Autorize"; }
            @if (Request.Cookies["Role"] != null)
            {
                if (Request.Cookies["Role"].Value == "Moder")
                {
                    edit = "Edit";
                    del = "Delete";
                    Request.Cookies["Role"].Expires = DateTime.Now.AddMinutes(10);
                }
            }
            @Html.ActionLink("Edit", edit, item) |
            @Html.ActionLink("Details", "Details", item) |
            @Html.ActionLink("Delete", del, item)
        </td>
    </tr>
            index++;
        }
    }
    }

</table>
