@model Building_VehiclePark.Models.Vehicle

@{
    ViewBag.Title = "Details";
}
@{bool isHiden = true;}
@if (Request.Cookies["Role"] != null)
{
    if (Request.Cookies["Role"].Value == "Moder")
    {
        isHiden = false;
        Request.Cookies["Role"].Expires = DateTime.Now.AddMinutes(10);
    }
}
<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InGarage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InGarage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InRepair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InRepair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWork)
        </dd>

    </dl>
</div>
<p>
    @if (!isHiden) {
       @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleId }) 
    }|
    @Html.ActionLink("Back to List", "AllVihecles")
</p>
